<div class="col-md-4 col-md-offset-4 well signin">
  <h2>Sign Up</h2>

  <%= form_for(resource, as: resource_name, url: author_registration_path) do |f| %>
    <%= form_group_for f, :name, label: false do %>
    <div class="field">
      <%= f.text_field :name, autofocus: true, placeholder: "First Name", :class => "form-control" %>
    </div>
    <% end %>

    <%= form_group_for f, :email, label: false do %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: "Email", :class => "form-control" %>
    </div>
    <% end %>

    <%= form_group_for f, :password, label: false do %>
    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", :class => "form-control" %>
    </div>
    <% end %>

    <%= form_group_for f, :password_confirmation, label: false do %>
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", :class => "form-control" %>
    </div>
    <% end %>

    <div><%= f.submit "Sign Un", class: 'btn btn-primary btn-block btn-lg' %></div>
  <% end %>

</div>
