<div class="collapse" id="exCollapsingNavbar">
  <div class="collapse-bg p-a-1">
    <div class='card'>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Bloggers', perfil_path, class: "nav-link #{yield(:bloggers_active)}" %>
        </li>
        <% if author_signed_in? %>
          <li class="list-group-item">
            <%= link_to 'My posts', authors_posts_path, class: "nav-link #{yield(:author)}" %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "nav-link" %>
          </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Login', new_author_session_path, class: "nav-link" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class='container'>
    <a class='navbar-brand' href='/'>
      Mini<span class='light'>blog</span>
    </a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Posts', posts_path, class: "nav-link #{yield(:blog_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Bloggers', perfil_path, class: "nav-link #{yield(:bloggers_active)}" %>
      </li>
      <% if author_signed_in? %>
        <li class="nav-item">
          <%= link_to 'My posts', authors_posts_path, class: "nav-link #{yield(:author)}" %>
        </li>
        <%= form_tag(perfil_path, :method => "get", :class => "form-inline") do %>
          <div class="input-group">
           <%= text_field_tag :search, params[:search], :class => "form-control mr-sm-2", placeholder: "Search Blogger" %>
          </div>
          <%= button_tag(type: 'submit', class: "btn btn-outline-success my-2 my-sm-0") do %>
                  <i class="icon-repeat"></i> Search
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <ul class="nav navbar-nav pull-sm-right hidden-xs-down">
      <% if author_signed_in? %>
        <li class="nav-item btn-group" data-behavior="notifications">
          <a class="dropdown-toggle nav-link" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded>
            <i class="fa fa-bell" aria-hidden="true"></i><span data-behavior="unread-count"></span>
          </a>
          <div class="dropdown-menu" aria-labelleby="dropdownMenu1" data-behavior="notification-items">
          </div>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', new_author_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', new_author_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
