<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | Microblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce-c549e88801182a609a4b0c6665fd796c.js"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container <%= controller_name %> <%= action_name %>">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
